# Dependencies
node_modules
.pnpm-store

# Next.js
.next
out
dist
build

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
.env.*
!.env.example

# Testing
coverage
.nyc_output

# Misc
.DS_Store
*.log
*.tsbuildinfo
.turbo

# IDE
.vscode
.idea
*.swp
*.swo
*~
