# Dependencies
node_modules
.pnpm-store

# Next.js
.next
out
dist
build

# Environment
.env
.env.local
.env.production
.env.development

# Testing
coverage
.nyc_output

# Misc
.DS_Store
*.log
*.tsbuildinfo
.turbo

# IDE
.vscode
.idea
*.swp
*.swo
*~
